{% extends "respuestasGrafico.html" %}
{% load static %}

{% block content %}

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Sexo', 'cantidad'],
            ['Femenino', {{ sexo.si }}],
            ['Masculino', {{ sexo.no }}],
            
        ]);

    var options = {
        title: 'PORCENTAJE DEL SEXO DE LOS EGRESADOS',
        pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchartSexo'));
    chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Estado', 'cantidad'],
            ['Soltero', {{ estado.si }}],
            ['Casado', {{ estado.no }}],
            
        ]);

    var options = {
        title: 'ESTADO CIVIL DE LOS EGRESADOS',
        pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchartEstado'));
    chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Titulado', 'cantidad'],
            ['Si', {{ titulado.si }}],
            ['NO', {{ titulado.no }}],
            
        ]);

    var options = {
        title: 'TITULO DE LOS EGRESADOS',
        pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchartTitulo'));
    chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Paquetes', 'cantidad'],
            ['Si', {{ paquetes.si }}],
            ['NO', {{ paquetes.no }}],
            
        ]);

    var options = {
        title: 'MANEJO DE PAQUETES COMPUTACIONALES DE LOS EGRESADOS',
        pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchartPaquetes'));
    chart.draw(data, options);
    }
</script>

<div class="question-group">
    <div id="donutchartSexo" style="width: 100%; height: 500px;"></div>
    <div id="donutchartEstado" style="width: 100%; height: 500px;"></div>
</div>
<hr>
<div class="question-group" style="margin-top: 25px;" >
    <div id="donutchartTitulo" style="width: 100%; height: 500px;"></div>
    <div id="donutchartPaquetes" style="width: 100%; height: 500px;"></div>
</div>
<hr>
<div class="form-section">
    <div class="section-subtitle">DESCARGAR LISTADO DE RAZONES</div>
</div>

{% endblock %}