main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f0f0f0;
  }
  
  .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden; 
  }
  
  .header {
    background-color: #2b5d8e;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
  
  .header img {
    height: 50px;
    margin-right: 20px;
  }
  
  .header-text {
    text-align: center;
    flex-grow: 1;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: bold;
  }
  
  .form-section {
    background-color: #2b5d8e;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px 40px;
    border-radius: 15px;
  }
  
  .section-title {
    font-size: 22px;
    margin-bottom: 5px;
  }
  
  .section-subtitle {
    font-size: 18px;
  }
  
  .form-content {
    background-color: #e9e9e9;
    border-radius: 10px;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    min-height: 300px;
    border-radius: 15px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .form-label {
    font-weight: bold;
    width: 180px;
    font-size: 16px;
  }
  
  .form-input {
    flex-grow: 1;
    height: 30px;
    background: transparent;
    border: none;
    position: relative;
  }
  input.line-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    outline: none;
    padding: 2px 0;
  }
  
  
  .logo-center {
    pointer-events: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 150px;
    opacity: 0.2;
    z-index: 0;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  
  .form-column {
    width: 48%;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    background-color: #306696;
    border-radius: 10px;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border-radius: 15px;
  }
  
  .button {
    padding: 8px 20px;
    margin: 2px 40px;
    background-color: #eaeaea;
    border: 1px solid #999;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
  }
  .radio-group {
    display: flex;
    justify-content: center;
  }
  .radio-option {
    margin: 0 10px;
  }