main {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 10rem;
  background-color: #F5F6FA;
  width: 100%;
  height: 80vh;

  background-image: url('../recursos/fondo-venus.jpg');

  background-repeat: no-repeat;
  background-position: center;

}

.imgITV {
  position: absolute;

  top: 50%;
  left: 50%;
  /* Centra horizontalmente */
  transform: translate(-70%, -50%);
  /* Ajusta el centro exacto */
  z-index: 1;
  /* Asegura que esté sobre el fondo */
  width: 200px;
  /* Ajusta el tamaño de la imagen */
  height: auto;
  /* Mantiene la proporción de la imagen */
}